body{
     background-color: rgb(237, 229, 226); 
    background-image: url(/assets/velo.jpg);
    
}
.form-control{

    margin: 20px;
    padding: 20px;
}
form{
    width:300px;
    margin:0 auto;
}
/* .mb3{
    width:300px;
    margin:0 auto;
} */